/* mat-card{
    height: 1000px;
} */

.container{
    display: flex;
}
.slider{
    /* margin-top: 15px; */
}
.mat-slider-vertical{
    min-height: 72%;
    width: 32px;
    margin-right: 20px;
}

.mat-primary .mat-slider-thumb, .mat-primary .mat-slider-thumb-label, .mat-primary .mat-slider-track-fill {
    background-color: #74467e !important;
    color:white;
}