/* mat-card{
    height: 1000px;
} */

.container{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
}

.chart{
    width: 90%;
}

.mat-slider-vertical{
    min-height: 72%;
    width: 32px;
    margin-right: 20px;
}
mat-button-toggle-group {
    direction: ltr;
}

mat-button-toggle-group /deep/ .mat-button-toggle-label-content{
    line-height: 30px;
}
mat-button-toggle-group /deep/ .mat-button-toggle-button{
    font-size: 70%;
}

.alakazamButton /deep/ .mat-button-toggle-label-content{
    line-height: 30px;
}
.alakazamButton /deep/ .mat-button-toggle-button{
    font-size: 70%;
}

mat-button-toggle-group .alakazamButton{
    margin-top: 5px;
}

.buttons{
    position: absolute;
    z-index: 2;
}

