<div class="container" *ngIf="data.length>0 else spinner">
    <div class="chart">
<app-bar  [interval]="interval" [xAxisTickFormatting]="formatting" [data]="data" legendTitle="תאריך" xAxisLabel="ציר זמן" yAxisLabel="כמות המשימות" [view]="[1150, undefined]">
</app-bar>
</div>
<div class="slider">
        <p class="example-h2">מרווח זמן</p>
<mat-slider color="primary"

  class="example-margin"
  [disabled]="disabled"
  [invert]="invert"
  [max]="max"
  [min]="min"
  [step]="step"
  [thumbLabel]="thumbLabel"
  [tickInterval]="tickInterval"
  [(ngModel)]="interval"
  [vertical]="vertical"
  [displayWith]="formatLabel"
  (change)="changeInterval()">
</mat-slider>
</div>
</div>
<!-- <app-apex-chart></app-apex-chart> -->
<ng-template #spinner>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="data.length==0&&!loading">אין נתונים להצגה </div>
</ng-template>
<!-- <ng-template #noData>
  אין נתונים להצגה 
</ng-template> -->