<div class="container">
    <div *ngIf="empty">אין נתונים להצגה</div>
  <div class="chart"  *ngIf="!empty">
    <div class="buttons">
      <mat-button-toggle-group
        (change)="changeInterval()"
        [(ngModel)]="interval"
      >
        <mat-button-toggle
          *ngFor="let interval of intervals"
          [value]="interval"
          >{{ interval | translate }}</mat-button-toggle
        >
      </mat-button-toggle-group>
      
    </div>
    
    <app-timeline-chart
      [interval]="interval"
      [data]="data"
      (getTasks)="getTask($event)"
      [title]="title"
    ></app-timeline-chart>
  </div>
</div>

<ng-template #nil>
  <div>אין נתונים להצגה</div>
</ng-template>
