<div *ngIf="empty">אין נתונים להצגה </div>
<div (window:resize)="onResize($event)" *ngIf="!empty" class="tag-cloud">
  <!-- <angular-tag-cloud class="custom-css" (window:resize)="onResize($event)"
    [strict]="false"
    [data]="data"
    [zoomOnHover]="zoomOnHoverOptions"
    (clicked)="onClickTag($event)"
 >
  </angular-tag-cloud> -->
  <highcharts-chart 
  [Highcharts]="Highcharts"
 
  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"
 
  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngularFlag"

  (chartInstance)="getChartInstance($event)"
 
  style="width: 100%; display: block;"
></highcharts-chart>
</div>
