{
  "exclude" :[
    "src/auth",
    "config",
    "src/**/index.ts",
    "src/**/config.ts",
    "src/helpers/spec.helper.ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text",
    "html"
  ],
  "sourceMap": true,
  "instrument": true
}