.container {
    max-height: 700px;
    overflow: auto;
  }
  
  table {
    width: 100%;
    direction: rtl;
  }

  .mat-cell{
      max-width: 300px;
      min-width: 220px;
      padding-right: 1%;
      /* text-align: center; */
  }
  .mat-header-cell{
    padding-right: 1%;
  }
  .mat-row:hover{
      background-color: lavender;
  }
  .mat-sort-header-container{
    /* text-align: center; */
  }
  .watchers-td{
    display: flex;
    flex-wrap: wrap;
  }