.container {
    max-height: 700px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .mat-cell{
      max-width: 300px;
      min-width: 220px;
      /* text-align: center; */
  }
  .mat-row:hover{
      background-color: lavender;
  }
  .mat-sort-header-container{
    /* text-align: center; */
  }
  .watchers-td{
    display: flex;
  }