<section class="signup-form">
<form  [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field hintLabel="Insert your name">
    <input 
    matInput 
    placeholder="name" 
    formControlName="name">
  </mat-form-field>
  
  <mat-form-field>
    <input 
    matInput 
    placeholder="email" 
    formControlName="uniqueId">
    <mat-error *ngIf="!signupForm.hasError('required')">Email is invalid</mat-error>
    <mat-error *ngIf="signupForm.hasError('required')">Email not be empty</mat-error>
  </mat-form-field>
  <mat-form-field hintLabel="Should be at least 6 characters long.">
    <input 
    matInput 
    placeholder="password" 
    formControlName="password">
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Submit</button>
</form>
</section>
<section>

</section>
