<div class="chart">
<ngx-charts-bar-vertical *ngIf="data.length>0 else noData"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [roundDomains]="roundDomains"
  [showDataLabel]="showDataLabel"
  [xAxisTickFormatting]="xAxisTickFormatting"
  (select)="onSelect($event)">
  <ng-template #tooltipTemplate let-model="model">
      <pre>{{generateTooltipString(model)}}</pre>
    </ng-template>
</ngx-charts-bar-vertical>
</div>
<ng-template #noData>אין נתונים להצגה</ng-template>
