<app-filter (valueChange)="dataFilering()"></app-filter>
  <!-- <mat-grid-list  id="dashboard" cols="6" rowHeight="6:4" gutterSize="20px">
        <mat-grid-tile id="step3" [colspan]="2" [rowspan]="2">
          <app-time-rates #timeRates ></app-time-rates>
        </mat-grid-tile>
        <mat-grid-tile id="step4" [colspan]="4" [rowspan]="2">
        <app-chart-bar-date #barDate></app-chart-bar-date>
        </mat-grid-tile>
        <mat-grid-tile id="step5" [colspan]="2" [rowspan]="2">
          <app-tag-cloud #tagCloud></app-tag-cloud>
        </mat-grid-tile>
        <mat-grid-tile id="step6" [colspan]="2" [rowspan]="2">
          <app-leader-board #leaderBoard></app-leader-board>
        </mat-grid-tile>
        <mat-grid-tile id="step7" [colspan]="2" [rowspan]="2">
          <app-pie-status #pieStatus></app-pie-status>
        </mat-grid-tile>
      </mat-grid-list> -->
<div class="dashboard">
    <div class="item a" id="step4"><app-chart-bar-date #barDate></app-chart-bar-date></div>
    <div class="item b" id="step7"> <app-pie-status #pieStatus></app-pie-status></div>
    <div class="item c" id="step3"><app-time-rates #timeRates ></app-time-rates></div> 
    <div class="item d" id="step6"> <app-leader-board #leaderBoard></app-leader-board></div>
    <div class="item e" id="step5"><app-tag-cloud #tagCloud></app-tag-cloud></div>
</div>
