mat-grid-tile {
    -webkit-box-shadow: 0px 0px 6px 1px #C9C9C9; 
    box-shadow: 0px 0px 6px 1px #C9C9C9;
  }
  mat-card {
    height: 100%;
  }

  .dashboard{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
  }
  .item{
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 6px 1px #C9C9C9; 
    box-shadow: 0px 0px 6px 1px #C9C9C9;
  }

 .a{
    width: 63vw;
    height: 42vh;
  }

  .b{
    width: 31vw;
    height: 42vh;
  }
  .c{
    width: 31vw;
    height: 42vh;
  }

  .d{
    width: 31vw;
    height: 42vh;
  }
  .e{
   width: 31vw;
   height: 42vh;
  }
