mat-grid-tile {
    /* background: lightblue; */
    -webkit-box-shadow: 0px 0px 6px 1px #C9C9C9; 
    box-shadow: 0px 0px 6px 1px #C9C9C9;
  }

.title{
  margin-left: 20px;
  /* font-family: 'Alef' !important; */
  font-family: var(--main-font); 
  font-size: 5vh
}

.project-select, .discussion-select, .start-date, .end-date{
 margin-left: 20px;
}

.entity-filter{
  margin-right: 15%;
  display: flex;
} 
mat-expansion-panel{
  margin: 10px 0;
}

.mat-expansion-panel-header-title{
  flex-grow: 0;
}
mat-chip{
  /* height: 25px; */
}

mat-expansion-panel-header > * {
  height: auto !important;
  min-height: 46px !important;
}

mat-form-field, mat-select, mat-option
{
  text-align: right;
  /* font-family: 'Alef' !important; */
  font-family: var(--main-font); 
  font-size: medium;
}