<mat-sidenav-container >
  <mat-sidenav mode="side" #sidenav opened position="end" role="navigation">
  <app-sidenav-buttons></app-sidenav-buttons>
  </mat-sidenav>
  <mat-sidenav-content>

<app-nav-bar></app-nav-bar>
        <mat-progress-bar *ngIf="inProgress!=0" mode="indeterminate"></mat-progress-bar>
        <ng-container #vc>
          
        </ng-container>
        <router-outlet name="app" ></router-outlet>

        <ng-template #tpl>
        <app-splash-screen ></app-splash-screen>
        </ng-template>
  </mat-sidenav-content>
 
</mat-sidenav-container>
