mat-sidenav-container, mat-sidenav, mat-sidenav-content{
    height: 100vh;
}

mat-sidenav{
    padding-top: 10%;
    background-color: #4d6678;
}
mat-progress-bar{
    position: absolute;
    top: 70px;
    z-index: 1001;
}
