<div dir="rtl" class="grid-list">
  <div class="input-search">
    <mat-form-field style="width: 450px;">
      <input
        matInput
        type="text"
        (input)="onQuickFilterChanged()"
        [(ngModel)]="quickFilter"
        id="quickFilter"
        placeholder="{{ 'FILTER' | translate }}"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button
      (click)="saveOffice()"
      mat-button
    >
      שמור
    </button>
  </div>
  <div class="user-list">
    <ag-grid-angular
      #usersTable
      style="height: 500px;"
      class="ag-theme-material"
      enableRtl="true"
      
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="rowSelection"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
  <mat-chip-list>
    <mat-chip (click)="getSelecedUserRow(user)" *ngFor="let user of selectedUsers">{{ user.name }}</mat-chip>
  </mat-chip-list>
</div>

<!-- <p>
  user-profile works!
</p>
<input type='file' accept='image/*' (change)="openFile($event)"><br>
<img #output> -->

<!-- <div class="container">
  <h1>jQuery Image Upload 
      <small>with preview</small>
  </h1>
  <div class="avatar-upload">
      <div class="avatar-edit">
          <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="openFile($event)"/>
          <label for="imageUpload"></label>
      </div>
      <div class="avatar-preview">
          <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
            <img id="imagePreview" #output>
          </div>
      </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="avatar">
      <div class="avatar__icon avatar__icon--big">
        <div class="avatar__initials">JD</div>
        <img class="avatar__image" src="../../assets/img/avatar.jpg" alt="alt">
        <img class="avatar__image"  #output *ngIf="avatarBase64">
        <div class="avatar__notifications">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" (change)="openFile($event)"/>
            <label for="imageUpload"> <mat-icon >edit</mat-icon></label>
      </div>
      </div> -->
<!-- <div class="avatar__name">John Doe</div> -->
<!-- </div>
  <div>
  <button mat-raised-button class="save-avatar" (click)="saveAvatar()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button class="save-avatar" (click)="deleteAvatar()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
</div> -->
<!-- <form [formGroup]="userForm">
    <mat-form-field>
      <input type="text" matInput placeholder="Users" formControlName="userGroup" required [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of usersGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{name}}
            </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->

<!-- <mat-selection-list #shoes>
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Options selected: {{shoes.selectedOptions.selected.length}}
  </p> -->
