<mat-list role="list">
  <mat-list-item role="listitem"> <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button></mat-list-item>
  <mat-list-item role="listitem"> <button mat-icon-button>
      <mat-icon >storage</mat-icon>
    </button></mat-list-item>
  <mat-list-item role="listitem">
    <app-fullscreen-button></app-fullscreen-button>
  </mat-list-item>
    <!-- <mat-list-item role="listitem"> <button id="step1" (click)="startTour()" mat-icon-button>
      <mat-icon >help_outline</mat-icon>
    </button></mat-list-item> -->
    <mat-list-item role="listitem" id="step1">
      <app-intro-button ></app-intro-button>
    </mat-list-item>
    
    <!-- <h1 data-intro='Hello step one!' (click)="startTour()" >This is the first one step!</h1> -->
</mat-list>