.avatar {
    position: relative;
    /* margin: 0.5rem; */
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  .avatar a {
    text-decoration: none;
    color: #222;
    display: flex;
    align-items: center;
    outline: 0;
  }
  .avatar__icon {
    position: relative;
    display: table;
    height: 2.2em;
    width: 2.2em;
    /* background: rgb(114, 64, 129); */
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px Grey;
    transform: scale(1);
    transition: transform 0.2s cubic-bezier(0.51, 0.92, 0.24, 1);
  }
  .avatar__icon--big {
    height: calc(2.2em * 3);
    width: calc(2.2em * 3);
  }
  .avatar__icon--big .avatar__initials {
    font-size: 2.2em;
  }
  .avatar__icon--big .avatar__notifications {
    bottom: 0;
    right: 0;
    font-size: 15px;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
  }
  .avatar__icon:hover {
    transform: scale(1.1);
  }
  .avatar__notifications {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: Crimson;
    border-radius: 50%;
    color: white;
    font-size: calc(20px / 2);
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
  }
  .avatar__image {
    position: absolute;
    /* left: 0;
    top: 0; */
    border-radius: 50%;
    border: 2px solid IndianRed;
    margin-bottom: 1rem;
    max-width: 100%;
    /* height: auto; */
    left: -2px;
    top: -2px;
    height: 100%;
  }

  .avatar__initials {
    color: white;
    display: table-cell;
    vertical-align: middle;
  }
  .avatar__name {
    margin-right: 1rem;
  }