<div class="tab-bar">
  <div class="header-image1">
    <img src="../../assets/img/krypton.png"/>
  </div>
  <div>
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let link of navLinks"
      [routerLink]="link.path" 
      [queryParams]="link.queryParams"
      routerLinkActive #rla="routerLinkActive" 
      [active]="rla.isActive">
      {{link.label | translate}}
      
      </a>
    </nav>
  </div>
  <app-avatar initials="{{nameInitials}}" avatar="{{avatarImg}}"></app-avatar>
</div>
<mat-divider></mat-divider>